@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  background: #171987;
  color: #e4e375;
}

ion-icon{
  position: relative;
  top: 7px;
  left: -2px;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1{
  font-size: 2.7rem;
}
header span{
  opacity: .6;
  font-weight: 600;
  font-size: .9rem;
}

/* section */
section{
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 100px;
}
.container-1{
  display: flex;
  align-items: center;
  gap: 100px;
}
.container-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background: #e4e375;
  color: #171987;
  width: 30%;
  height: auto;
  padding: 20px;
  border-radius: 2px;
}
.container-2 input{
  width: 80%;
  padding: 8px;
  border: none;
  font-size: 1.1rem;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
}
.container-2 button{
  background: white;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  color: #171987;
  border: none;
  transition: box-shadow .2s linear;
  font-weight: 900;
}
.container-2 button:hover{
  box-shadow: .2rem .3rem black;
}
#btn-container{
  display: flex;
  gap: 40px;
}
button{
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

/*media query */

@media screen and (max-width: 578px ) {
  ion-icon{
    position: relative;
    top: 5px;
    font-size: 2rem;
  }
  body{
    color: white;
  }

  header h1{
    font-size: 1.5rem;
  }
  header span{
    opacity: .8;
  }
  section{
    margin-top: 80px;
    flex-direction: column-reverse;
    text-align: center;
    gap: 50px;
  }
  button{
    gap: 5px;
    border-radius: 2px;
  }
  #illustration{
    width: 100%;
    height: auto;
  }
  .container-1 {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
  .container-2 {
    width: 80%;
    background: #2777b8;
    padding: 20px;
  }
  .container-1 h1{
    font-size: 1.2rem;
  }
  .container-2 input{
    width: 100%;
    font-size: 1rem;
  }
  .container-2 h2{
    font-size: 1.4rem;
  }
  .container-1 p{
    font-size: .9rem;
  }
  .container-2 input:focus{
    outline: none;
  }
}